[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.text-description {
	font-size: 18px;
}

.text-footer {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.text-body {
	font-size: 50px;
	text-align: center;
}

.text-body span {
	font-size: 20px;
	margin-left: 5px;
}

.img-responsive {
	display: initial;
	max-width: 350px;
}